@model MathCheatSheet.Models.CheatSheet

@{ Layout = null; }

<div>
    <h4>CheatSheet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <p>Ideally, your formulas should go here.</p>
</div>
